*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%);
}

.card-wrapper {
    background-color: hsl(216, 50%, 16%);
    border: 1px solid red;
    align-items: center;
    justify-items: center;
    padding: 15px;

}

.image-wrapper { 
    display: flex;
    width: 100%;
    height: auto;
    justify-self: center;
    
    
}

img {
   height: 300px; 
}